/*esta caja contiene el incrementador*/
.item__cart{
    width: 89.48px;
    height: 40px;
    gap: 8px;
    display: flex;
    justify-content: space-between;
    border-color: var(--light-color);
}
/*esta caja es del medio*/
.item__input{
    width: 70.8px;
    height: 33px;
    top: 8px;
    left: 40.84px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24.2px;
    border: 0.5px;
    border-color: var(--light-color);
    text-align: center;
}
.item__quantityadd{
    width:16px;
    height: 16px;
     background-color: var(--primary-900);
     color: #FFF;
     border-color: var(--light-bg-solid);
    text-align: center;
     
     
}
.item__quantitysubtract{
    width: 16px;
    height: 16px;
    background-color: var(--primary-900);
    color: #FFF;
    display: flex;
    border-color: var(--light-bg-solid);
    text-align: center;
}
.item__cart{
    margin-bottom: 5px;
    letter-spacing: 5px;
    display: flex;
    justify-content: space-between;

  border-radius: 12px;
}

/* main comienzo*/
.main-carrito {
    padding: var(--spacing-68) var(--spacing-20);
  
}
.cart-title {
    display: inline-block;
    border-bottom: 3px solid var(--primary-solid);
    margin-bottom: var(--spacing-24);
    font-size: var(--font-display);
    font-family: var(--alternative-font);
    font-weight: 700;   
}
.cart-table{
    display: flex;
    flex-direction: column;
    padding: var(--spacing-24) 0;
    gap: var(--spacing-20);

}
.cart-table__header  {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.04fr;
    font-weight: 600;
    text-align: left;
    padding: var(--spacing-12) var(--spacing-16);
    font-size: var(--font-small);
    border-radius: 10px;
    box-shadow: 1px 1px 8px #33333354;
    background-color:var(--light-bg-solid);
    text-transform: uppercase;
}
.cart-table__header-column {
    padding: var(--spacing-12);
}
.cart-table__header--detalles {
    padding-left: var(--spacing-68);
}
.cart-table__item {
    display: grid;
    grid-template-columns: 1fr 0.6fr 0.6fr 0.05fr;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px #00000040;
    background-color: #fafaff;
    padding: var(--spacing-16);
}

.cart-table__total{
    width: 270px;
    height: 21px;
}


.funko {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: var(--spacing-20);
}
.funko__img {
    width: 118px;
}
.funko__text-title {
    margin-bottom: 4px 0;
    font-size: var(--font-large);
}
.funko__text-licence {
    font-weight: 500;
    font-size: small;
}
.funko__text-price {
    font-size: small;
}
.cart-table__input-input {
    text-align: center;
    font-size: var(--font-medium);
    height: 40px;
    width: 90px;
    appearance: textfield;
    &:hover {
        border: 1px solid var(--primary-300);
    }
    &:focus {
        outline: none;
        border: 1px solid var(--primary-solid);

    }
}
.cart-table__button{
    width: 28px;
    background: transparent;
    border: none;
    cursor: pointer;
}
/*parte de abajo resumen*/

.resumen {
    margin: var(--spacing-24) 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.resumen__content {
    grid-column: 2;
}
.resumen__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: var(--font-small);
    padding: var(--spacing-12);
    border-radius: 10px;
    box-shadow: 1px 1px 8px #33333354;
    background-color: #fafaff;
    text-transform: uppercase;
}
.resumen__card-description {
    display: flex;
    font-weight: 600;
    gap: var(--spacing-16) 0;
    flex-direction: column;
    text-align: left;
}
.resumen__card-price {
    display: flex;
    gap: var(--spacing-16) 0;
    flex-direction: column;
    text-align: right;
}
.resumen__card-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.resumen__card-group--total {
    margin-top: var(--spacing-20);
    border-top: 2px solid var(--primary-solid);
    padding-top: var(--spacing-8);
    display: flex;
    flex-direction: row;
}
.resumen__card-group--total-text {
    font-size: medium;
    font-weight: 700;
}
.resumen-item__button {
    margin-top: var(--spacing-24);
    text-align: center;
    display: block;
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    font-size: var(--font-large);
    font-weight: 500;
    padding: var(--spacing-12);  
}
.resumen-item__button:hover {
    background-color: var(--primary-900)   
}
.item__description, .item__price, .item__cart{
    margin-bottom: 10px;    letter-spacing: 1px;
}
#cuenta-carrito{
    
    background-color:var(--primary-solid) ;
    border-radius: 100%;
    display:inline-block;
    width: 20px;
    text-align: center;
    position: absolute;
}
/* CSS para dispositivos con pantalla ancha (por ejemplo, computadoras de escritorio) */
@media (min-width: 1200px) {
    .item__cart{
      width: 89.48px;
      height: 40px;
      /* ...resto de tu CSS... */
    }
    /* ...resto de tus selectores... */
  }
  
  /* CSS para dispositivos con pantalla mediana (por ejemplo, tablets) */
  @media (min-width: 768px) and (max-width: 1199px) {
    .item__cart{
      width: 60px; /* Reducimos el tamaño para pantallas más pequeñas */
      height: 30px;
      /* ...resto de tu CSS... *//* CSS para dispositivos con pantalla ancha (por ejemplo, computadoras de escritorio) */
@media (min-width: 1200px) {
    .item__cart{
      width: 89.48px;
      height: 40px;
      /* ...resto de tu CSS... */
    }
    /* ...resto de tus selectores... */
  }
  
  /* CSS para dispositivos con pantalla mediana (por ejemplo, tablets) */
  @media (min-width: 768px) and (max-width: 1199px) {
    .item__cart{
      width: 60px; /* Reducimos el tamaño para pantallas más pequeñas */
      height: 30px;
      /* ...resto de tu CSS... */
    }
    /* ...resto de tus selectores... */
  }
  
  /* CSS para dispositivos con pantalla pequeña (por ejemplo, teléfonos móviles) */
  @media (max-width: 767px) {
    .item__cart{
      width: 40px; /* Reducimos aún más el tamaño para pantallas muy pequeñas */
      height: 20px;
      /* ...resto de tu CSS... */
    }
    /* ...resto de tus selectores... */
  }
  
    }
    /* ...resto de tus selectores... */
  }
  
  /* CSS para dispositivos con pantalla pequeña (por ejemplo, teléfonos móviles) */
  @media (max-width: 767px) {
    .item__cart{
      width: 40px; /* Reducimos aún más el tamaño para pantallas muy pequeñas */
      height: 20px;
      /* ...resto de tu CSS... */
    }
    /* ...resto de tus selectores... */
  }
  



















