
#cuenta-carrito{
    background-color:var(--primary-solid) ;
    border-radius: 100%;
    display:inline-block;
    width: 20px;
    line-height: 20px;
    aspect-ratio: 1;
    text-align: center;
    position: absolute;
}

.item__cart{
    margin-bottom: 10px;
    letter-spacing: 1px;
}


.selectores{
    border-radius: 5px;
}


.elegir-archivo{
    border-radius: 5px;
    width: 125.24px;
    font-family: Arial, Helvetica, sans-serif;    
}


.botones{
    width: 384.14px;
    height: 44.33px;
    justify-content: space-between;
}


.boton{
    background-color: var(--color-3);
    color: var(--color-2);
    width: 175px;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
