.main{
    width: 827.63px;
    height: 669.3px;
    margin-left: 250px;
    margin-top: 30px;

}

.crear-item{
    font-family: var(--alternative-font);
    font-size: var(--font-xlarge);
    margin-bottom: var(--spacing-24);

}

.contenedor-div{
    display: flex;
    margin-bottom: 20px;
}

.categoria{
    font-family: var(--alternative-font);
    font-size: var(--font-medium);

}

.selectores{
    border-radius: 5px;
    width: 243.03px;
    height: 44.28px;
    padding-left: 10px;
    color: var(--light-color);
}

.subtitulos{
    color: var(--dark-solid);
    font-family: var(--alternative-font);
    font-size: var(--font-medium);
    padding-right: 10px;
   
}

.caracteristicas{
    width: 662.4px;
    height: 29px;
    display: flex;
    margin-bottom: 35px;
    
}

.textarea{
    width: 827.63px;
    margin: 30px 0;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 4px;
    color: var(--light-color);
}


.selectores-cuotas{
    border-radius: 5px;
    width: 346px;
    height: 44px;
    text-align: left;
    padding-left: 10px;
       
}

.input-sinborde-maslargo{
    border: none;
    border-bottom: 2px solid var(--primary-solid) ;
    width: 20em;
    text-align: center;
    margin-left: 1em;
}

.input-sinborde-largo {
    border: none;
    border-bottom: 2px solid var(--primary-solid) ;
    width: 7em;
    text-align: left;
    margin-left: 1em;
}

.input-sinborde-corto {
    border: none;
    border-bottom: 2px solid var(--primary-solid) ;
    width: 4em;
    text-align: center;
    margin-left: 1em;
}

.pago-completo{
    display: flex;
    align-items: center;
    
}

.elegir-archivo{
    border-radius: 5px;
    width: 10em;
    font-family: var(--base-font);    
    font-size: 0,2em;
    background-color: var(--light-color);
    
}

.botones{
    width: 384.14px;
    height: 44.33px;
    display: flex;
   
}

.boton{
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    justify-content: space-around;
    align-items: center;
    margin-right: 15px;
    border: none;
    padding: var(--spacing-6);
}

.div-imagenes {
    display: flex;
    width: 519.73px;
    height: 29px;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.texto-imagenes {
    font-family: var(--alternative-font);
    font-size: 14px;
}