.main{
    max-width: 1440px;
    gap: var(--spacing-28);

}

.main__title {
    font-family: var(--alternative-font);
    font-size: var(--font-xlarge);
    margin-bottom: var(--spacing-24);

}

.subtitulos{
    color: var(--dark-solid);
    font-family: var(--alternative-font);
    font-size: var(--font-medium);

}

.textarea {
    width: 100%;
    margin: var(--spacing-24) 0;
    border-radius: 4px;
    font-family: var(--base-font);
    font-size: var(--font-small);
    color: var(--dark-solid);

}
.producto__imagen {
    max-width: 15em;
}

.contenedor-div{
    display: flex;
    justify-content: space-between;
    max-width: 90%;
/*
    margin-bottom: 20px; */
}


.categoria{
    font-family: var(--alternative-font);
    font-size: var(--font-medium);
}


.caracteristicas{
    width: 662.4px;
    height: 29px;
    display: flex;
    margin-bottom: 35px;

}

.selectores{
    border-radius: 5px;
    width: 18em;
    padding-left: 10px;
    color: var(--dark-solid);
    margin-left: var(--spacing-6);
}

.pago-completo{
    display: flex;
    align-items: center;
}

.selectores-cuotas{
    border-radius: 5px;
    width: 20em;
    text-align: left;
    padding-left: 10px;

}

.input-sinborde-maslargo{
    border: none;
    border-bottom: 2px solid var(--primary-solid) ;
    width: 20em;
    text-align: center;
    margin-left: 1em;
}

.input-sinborde-largo {
    border: none;
    border-bottom: 2px solid var(--primary-solid) ;
    width: 7em;
    text-align: left;
    margin-left: 1em;
}

.input-sinborde-corto {
    border: none;
    border-bottom: 2px solid var(--primary-solid) ;
    width: 4em;
    text-align: center;
    margin-left: 1em;
}

.div-imagenes {
    display: flex;
    width: 519.73px;
    height: 29px;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.elegir-archivo{
    border-radius: 5px;
    width: 10em;
    font-family: var(--base-font);
    font-size: 0,2em;
    background-color: var(--light-color);
}

.div-imagenes {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.texto-imagenes {
    font-family: 'Raleway';
    font-size: 14px;
}

.imagen-producto {
    display: flex;
    align-content: center;
    margin: 2em 0;

}

.img-producto {
    width: 15em;
    margin: 1em;
    border-bottom: 2px solid var(--primary-solid) ;

}

.leyenda-imagen {
    font-family: var(--alternative-font);
    font-size: var(--font-medium);
    color: var(--dark-solid);

}


.botones{
    width: 25em;
    margin: 1em 0;

}

.boton{
    background-color: var(--primary-solid);
    color: var(--light-font-solid);   
    width: 12em;
    border: none;
}
