@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');

:root {
    /*Colors*/

    --primary-solid: #ff3333;
    --primary-900: rgba(255, 51, 51, 0.9);
    --primary-500: rgba(255, 51, 51, 0.5);
    --primary-300: rgba(255, 51, 51, 0.3);

    --secondary-solid: #1d84b5;
    --secondary-900: rgba(29, 133, 181, 0.9);
    --secondary-500: rgba(29, 133, 181, 0.5);
    --secondary-300: rgba(29, 133, 181, 0.3);
    
    --dark-solid: #1f1f1f;
    --dark-900: rgba(31, 31, 31, 0.9);
    --dark-500: rgba(31, 31, 31, 0.5);
    --dark-300: rgba(31, 31, 31, 0.3);

    --dark-bg-solid: #30343f;
    --light-bg-solid: #fafaff;
    --light-font-solid: #FFF;

    /*Typography*/
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    /*Font-size*/
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.2em;
    --font-xxsmall: 1em;

    /*Spacings*/
    --spacing-128: 12.8rem;
    --spacing-96: 9.6rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
    --spacing-6: 0.6rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--dark-solid);
}

a {
    text-decoration: none;
    font-size: 2em;
    color: inherit;
    font-family: inherit;
}

header, footer {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
}

ul, ol {
    list-style-type: none;
}

p {
    font-size: var(--font-medium);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    width: 100%;
}



/*Header*/

header {
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-36);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__logo {
    max-width: 300px;
}

.navbar__menu{
    display: flex;
    gap: var(--spacing-20);
    align-items: center;
}

.navbar__link {
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background .3s ease-in-out;
    position: relative;
}

.navbar__link:hover {
    background-color: var(--primary-900);
    
}

.with-icon{
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.with-submenu:hover .submenu{
    display: block;
}

.submenu{
    display: none;
    width: 300px;
    position: absolute;
    background-color: var(--dark-bg-solid);
    z-index: 3;
}

.submenu__link {
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-medium);
    transition: background .3s ease-in-out;
}

.submenu__link:hover {
    background-color: var(--primary-900);
}
/*Fin header*/

/*HERO*/

.hero {
    background-image: url(../img/funkos-banner.webp);
    background-size: cover;
    background-attachment: fixed;
    padding: var(--spacing-128);
    position: relative;
}

.hero::before {
    content: '';
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    backdrop-filter: blur(3px) brightness(.6);
    background-position: top;
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    align-items: start;
    position: relative;
    z-index: 2;
}

.hero__title {
    font-family: var(--alternative-font);
    font-size: var(--font-jumbo);
    color: var(--light-font-solid);
}

.hero__text {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
    font-size: var(--font-medium);
}

.hero__link {
    display: inherit;
    font-size: var(--font-medium);
    background-color: var(--light-bg-solid);
    padding: var(--spacing-12) var(--spacing-68);
    border-radius: 50px;
    font-weight: 500;
    transition: all .3s ease-in-out;
}

.hero__link:hover {
    background-color: var(--primary-900);
    color: var(--light-font-solid);
}

/*Fin Hero*/

/*Collections*/

.collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: var(--spacing-16) 0;
}

.collection:nth-child(2) .collection__cover {
    order: -1;
}

.collection__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    align-items: start;
}

.collection__title{
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    font-weight: 500;
}

.collection__text{
    font-family: var(--alternative-font);
    font-size: var(--font-large);
    font-weight: 300;
    border-bottom: 2px solid var(--primary-solid);
    padding-bottom: var(--spacing-20);
}

.collection__link {
    display: inline-block;
    font-size: var(--font-medium);
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-16) var(--spacing-36);
    border-radius: 50px;
    font-weight: 500;
    transition: background .3s ease-in-out;
}

.collection__link:hover {
    background-color: var(--primary-900);
}

/*SLIDER*/

.slider {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);  
    margin: var(--spacing-68) auto;  
}

.slider__title {
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    text-transform: uppercase;
}

iconify-icon{
    color: var(--dark-bg-solid);
    font-size: var(--font-small);
    font-weight: 700;
}

.glide__arrow--left {
    left: 0;
}

.glide__arrow--right {
    right: 0;
}


.card-item__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding: var(--spacing-16);
}

.card-item__license {
    font-size: var(--font-small);
    font-weight: 500;
}

.card-item__name {
    font-size: var(--font-medium);
    font-weight: 700;
}

.card-item__price {
    font-size: var(--font-small);
}

.card-item__promo {
    font-size: var(--font-xsmall);
    color: var(--secondary-solid);
    font-weight: 700;
}

.card-item__cover {
    display: flex;
    position: relative;
}

.card-item__tag {
    font-size: var(--font-xsmall);
    text-transform: uppercase;
    color: var(--light-font-solid);
    background-color: var(--primary-solid);
    padding: var(--spacing-8) var(--spacing-12);
    position: absolute;
    right: 0;
}

.card-item__cover img {
    animation: fade .5s;
}

.card-item__img--back {
    display: none;
}

.card-item__cover:hover .card-item__img--back {
    display: block;
}

.card-item__cover:hover .card-item__img--front {
    display: none;
}


/*FOOTER*/

.footer {
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-68);
}

.footer__copy {
    text-align: center;
    margin-top: var(--spacing-36);
}

/*ANIMATIONS*/

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*MEDIA QUERY*/

@media screen and (max-width: 1000px){

    header {
        padding: var(--spacing-28);
    }

    .container{
        max-width: 90%;
    }
    .navbar__logo {
        max-width: 220px;
    }

    .navbar__menu {
        gap: var(--spacing-12);
    }

    .navbar__link {
        font-size: var(--font-small);
    }

    .navbar__cart img {
        width: 80%;
    }

    .submenu{
        width: 200px;
    }
    
    .submenu__link {
        padding: var(--spacing-6) var(--spacing-12);
        font-size: var(--font-small);
    }

    .hero {
        padding: var(--spacing-96);
    }

    .collection__title {
        font-size: var(--font-jumbo);
    }

    .collection__text {
        font-size: var(--font-medium);
    }

    .collection__link {
        font-size: var(--font-small);
    }

    .slider__title {
        font-size: var(--font-jumbo);
    }

    .card-item__tag {
        font-size: xx-small;
    }

    .card-item__licence {
        font-size: var(--font-xsmall);
    }

    .card-item__name {
        font-size: var(--font-xsmall);
    }
    
    .card-item__price {
        font-size: var(--font-xsmall);
    }

    .card-item__promo {
        font-size: var(--font-xxsmall);
    }

    .footer {
        padding: var(--spacing-36);
    }

}

@media screen and (max-width: 740px){

    header {
        padding: var(--spacing-16);
    }

    .container {
        max-width: 95%;
    }

    .navbar__logo {
        max-width: 160px;
    }

    .navbar__menu {
        gap: var(--spacing-6);
    }

    .navbar__link {
        font-size: var(--font-xsmall);
        padding: var(--spacing-6) var(--spacing-8);
    }

    .navbar__cart img {
        width: 50%;
    }

    .submenu{
        width: 150px;
    }
    
    .submenu__link {
        padding: var(--spacing-6) var(--spacing-12);
        font-size: var(--font-xsmall);
    }
    
    .hero {
        padding: var(--spacing-68);
    }

    .hero__title {
        font-size: var(--font-large);
    }

    .hero__text {
        font-size: var(--font-small);
    }

    .hero__link {
        font-size: var(--font-small);
        padding: var(--spacing-8) var(--spacing-36);
    }

    .collection__title {
        font-size: var(--font-large);
    }

    .collection__text {
        font-size: var(--font-small);
    }

    .collection__link {
        font-size: var(--font-xsmall);
        padding: var(--spacing-12) var(--spacing-28);
    }

    .slider__title {
        font-size: var(--font-large);
    }

    .card-item__content {
        padding: var(--spacing-6);
    }

    .footer {
        padding: var(--spacing-24);
    }

    @media screen and (max-width: 480px){

        header {
            padding: var(--spacing-8);
        }
    
        .container {
            max-width: 95%;
        }
    
        .navbar__logo {
            max-width: 100px;
        }
    
        .navbar__menu {
            gap: var(--spacing-8);
        }
    
        .navbar__link {
            font-size: var(--font-xxsmall);
            padding: var(--spacing-6) var(--spacing-6);
        }
    
        .navbar__cart img {
            width: 40%;
        }
    
        .submenu{
            width: 100px;
        }
        
        .submenu__link {
            padding: var(--spacing-6) var(--spacing-12);
            font-size: var(--font-xxsmall);
        }

        .collection__content {
            gap: var(--spacing-16);
        }
    
        .collection__title {
            font-size: var(--font-medium);
        }
    
        .collection__text {
            font-size: var(--font-xsmall);
            padding-bottom: var(--spacing-12);
        }
    
        .collection__link {
            font-size: var(--font-xxsmall);
            padding: var(--spacing-8) var(--spacing-20);
        }
    
        .slider__title {
            font-size: var(--font-medium);
        }
    
        .footer {
            padding: var(--spacing-16);
        }

    }
}
