:root {
    --color-1: #30343F;
    --color-2: #FFFFFF;
    --color-3: #FF3333;
    --color-4: #111111;
    --color-5:#1D84B5;
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color: #111;
}

a {
    text-decoration: none;
    font-size: 2em;
    color: inherit;
}

ul, ol {
    list-style-type: none;
}

p {
    font-size: 1.8em;
}

img {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*Header*/

header {
    background-color: var(--color-1);
    padding: 30px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__logo {
    max-width: 300px;
}

.navbar__menu{
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar__link {
    color: var(--color-2);
    font-size: 1.4em;
    padding: 8px 16px;
    display: inline-block;
    transition: background .3s ease-in-out;
    position: relative;
}

.navbar__link:hover {
    background-color: var(--color-3);
    
}

.with-icon{
    display: flex;
    align-items: center;
    gap: 5px;
}

.with-submenu:hover .submenu{
    display: block;
}

.submenu{
    display: none;
    width: 300px;
    position: absolute;
    background-color: var(--color-1);
}

.submenu__link {
    display: block;
    padding: 8px 16px;
    font-size: 1.4em;
    color: var(--color-2);
    transition: background .3s ease-in-out;
}

.submenu__link:hover {
    background-color: var(--color-3);
}
/*Fin header*/

/*HERO*/

.hero {
    background-image: url(../img/funkos-banner.webp);

}

.hero__content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero__title {
    font-family: var(--base-font);
    font-size: 2.4em;
    color: var(--color-2);
}

.hero__text {
    font-family: var(--base-font);
    font-size: 1.4em;
    color: var(--color-2);
}

.banner-text a{
    width: 50%;
    margin-top: 25px;
    padding: 5px;
    text-align: center;
    background-color: var(--color-2);
    color: var(--color-1);
    font-weight: 700;
    border-radius: 50px;
    font-size: 1.2em;
    text-decoration: none;
}

.cuerpo-cont{
    padding: 100px;
}

section.producto{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.producto article{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.producto article h3{
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 5px;
    
}

.producto:nth-child(2n){
    flex-direction: row-reverse;
}

.producto span{
    border: 2px solid var(--color-3);
    margin: 15px 0px;
}

.producto a{
    width: 45%;
    margin-top: 25px;
    padding: 15px;
    text-align: center;
    background-color: var(--color-1);
    color: var(--color-2);
    font-weight: 500;
    border-radius: 50px;
    font-size: 1.2em;
    text-decoration: none;
}

.ultimos-lanzamientos h2{
    text-transform: uppercase;
    font-size: 2em;
}

.ultimos-lanzamientos ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 40px;
    margin-top: 50px;
}

.ultimos-lanzamientos ul li article{
    position: relative;
}

.ultimos-lanzamientos ul li img{
    width: 352px;
}


.nuevo{
    position: absolute;
    top: 0; right: 0;
    font-size: 0.8em;
    padding: 6px 12px;
    color: var(--color-2);
    background-color: var(--color-3);
}

.lanzamiento-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.lanzamiento-info p{
    font-size: 0.8em;
    font-weight: 500;
}

.lanzamiento-info h5{
    color: var(--color-5);
    font-weight: 700;
}

footer section{
    width: 100%;
    height: 343px;
    background-color: var(--color-1);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer section ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
    justify-content: center;
    list-style: none;
}

footer section ul li a{
    text-decoration: none;
    color: var(--color-2);
    font-size: 1.2em;
}

footer section p{
    align-self: self-end;
    margin-bottom: 20px;
    color: var(--color-2);
    font-size: 1.2em;
}
