.todo{
    display: flex;
    align-items: center;
}
.item__name{
    font-size: var(--font-jumbo );
}
.item__description{
    font-size: var(--font-medium);
    color: var(--dark-solid);
}
.item__info{
    margin: 200px;
}
.item__description, .item__price, .item__cart{
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.item__price{
    font-size: var(--font-large);
    color: var(--dark-solid) ;
}
.item__input{
    border-color: #C9C9C9;
    width: 80px;
    height: 35px;
    padding: 5px;
    text-align: center;
    border-style: ridge;
    font-size: var(--font-small);
}
.item__submit{
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    padding: 10px;
    border-style: none;
    margin-left: 40px;
}


.pago{
    color: var(--secondary-solid);
    font-size: var(--font-small);
}

