
.todo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
}
.todo label{
    font-size: 18px;
    color: var(--color-4);
    font-family:'Inter', sans-serif;
}
.todo input{
    border-style: none;
}
.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3%;
    margin-bottom: 1%;
}
.datos{
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 50%;
} 
.datos hr{
    margin-top: 2px;
    background-color: var(--color-3);
    padding: 2px;
    padding-right: 10px;
    border-radius: 4px;
    width: 100%;
}
#ingresar{
    margin-right: 25px;
    color: var(--color-2);
    background-color: var(--color-3);
    padding: 15px;
    border: none;
}
.check{
    margin-right: 10px;
    border-color: var(--color-4);
    border-radius: 3px;
}
.botones{
    margin-bottom: 20px;
    font-family:'Inter', sans-serif;
}
#olvidar{
    border-style: none;
    background-color: var(--color-2);
    color: var(--color-5);
    font-family:'Inter', sans-serif;
    font-size: 15px;
}
