/*FIN FORMULARIO SHOP*/
/*PRODUCTOS SHOP*/
.productos{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    width: 80%;
}
.filas{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
}
.produ{
    font-family: 'Inter', sans-serif;
}
.produ h4{
    font-size: small;
    color: #333333;
}
.produ img{
    width: 70%;
}
.new{
    background-color: #FF3333;
    color: white;
    position: absolute;
    margin-left: 13%;
    padding: 8px;
    border-radius: 1px;
}
.info{
    padding: 20px;
}
.cuotas{
    color: #1D84B5;
    font-family: 'Raleway', sans-serif;
}
/*FIN PRODUCTOS SHOP*/
/*INICIO LOGIN*/
.login{
    height: 50.5vh;
    display: flex;
    align-items: center;
    justify-content:center ;
    flex-direction: column;
    margin-bottom: 3%;
    margin-top: 3%;
}
.login h1{
    font-family: 'Raleway', sans-serif;
    margin-bottom: 2%;
}
.login h3{
    font-family: 'Raleway', sans-serif;
    margin-bottom: 2%;
}
.login h5{
    color: #1D84B5;
    font-family: 'Raleway', sans-serif;
    padding-right:20px ;
    text-align: center;
}
.email{
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
} 
.email h4{
    font-family: 'Inter', sans-serif;
    color: #111;
}
.emailInput{
    margin-left: 50px;
    font-family: 'Inter', sans-serif;
}
.emailInput input{
    text-align: center;
    border-style: none;
} 
.emailInput hr{
    margin-top: 2px;
    background-color: #FF3333;
    padding: 2px;
    padding-right: 10px;
    border-radius: 4px;
    width: 100%;
}

.recordar{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    margin-top: 5%;
    margin-bottom: 5%;
}
.submit{
    border: 0;
    padding: 10px 20px 10px 20px;
    background-color: #FF3333;
    color: white;
    font-family: 'Inter', sans-serif;
    margin-right: 15%;
}
.check{
    border-style:solid;
    margin-left: 20px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    color: #111;
    font-family: 'Inter',sans-serif;
}