/* aca comienza formulario */
/*INICIO SHOP*/
.shop{
   display: flex;
   flex-direction: column;
   gap: var(--spacing-28);
}

/* FORMULARIO SHOP*/
.formulario{
    font-family: 'Inter', sans-serif;
    margin-left: 50%;
    margin-top: 10%;
}
.formulario select{
    font-family: 'Inter', sans-serif;
    width: 243px;
    height: 44.285px;
    flex-shrink: 0;
    padding: 8px;
}
.buscar{
    font-size: 20px;
    color: var(--dark-solid);
    font-family: 'Inter',sans-serif;
}
.buscar input{
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
    border-radius: 6px;
    border: 2px solid var(--dark-bg-solid);
    padding: 10px;
    padding-right: 50%;
}
.order{
    display: inline-block;
    font-size: 20px;
    color: var(--dark-solid);
    font-family: 'Inter',sans-serif;
}
.order select{
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
    border-radius: 6px;
    border: 2px solid var(--dark-bg-solid);
    padding: 8px;
}
.precio{
    margin-top: 20px;
    font-size: 20px;
    color: var(--dark-solid);
    font-family: 'Inter',sans-serif;
}
.p{
    font-size: 18px;
    margin-top: 20px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.p input{
    text-align: end;
    width: 35px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 6px;
    border: 2px solid var(--dark-bg-solid);
    margin-bottom: 10px;
}
.filtro{
    font-size: 20px;
    font-weight: 500;
    color: var(--dark-solid);
    font-family: 'Inter',sans-serif;
    width: 100%;
}
.checkbox {
    font-size: 18px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    width: 20px;
    height: 20px;
    color: var(--dark-solid);
    font-family: 'Inter',sans-serif;
    
}
.tipos{
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*FIN FORMULARIO SHOP*/
/*PRODUCTOS SHOP*/
.productos{
    display: flex;
    flex-direction: column;
    margin-left: 30%;
   
}
.filas{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
}
.produ{
    font-family: 'Inter', sans-serif;
}
.produ h4{
    font-size: small;
    color: var(--dark-bg-solid);
}
.produ img{
    width: 70%;
}
.new{
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    position: absolute;
    margin-left: 13%;
    padding: 10px;
    border-radius: 1px;
    font-size: var(--font-xsmall);
}
.info{
    padding: 20px;
    font-size: var(--font-medium);
}
.cuotas{
    color: var(--secondary-solid);
    font-family: 'Raleway', sans-serif;
}

 /* pagination position styling */
 .pagination_section {
    display: flex;
    justify-content: center;
    gap: var(--spacing-12);
  
  }
  /* pagination styling */
  .pagination_section a {
    display: block;
    justify-content: space-between;

    font-size: var(--font-medium);
    font-weight: 700;
    border-radius: 4px;
    padding: var(--spacing-12) var(--spacing-16);
    border: 2px solid var(--dark-300);
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
   
  }
  /* pagination hover effect on non-active*/ 
  .pagination_section a:hover:not(.active) {
    color:var(--primary-500);
    background-color: var(--light-font-solid);
    border: 2px solid var(--primary-solid);
    background-color: var(--primary-900);
    color: var(--light-bg-solid);
    border-color: var(--primary-500);
  }
  .pagination_section content {
    margin: 50px;
    padding: 15px;
    width: 700px;
    height: 200px;
    border: 2px solid var(--primary-solid);
  }
  .pagination_section a{
    margin: 10px;
  }
  .shop{ display: grid; grid-template-columns: 10% 90% ; margin-bottom: 0; margin-top: 1%; margin-bottom: 5%; /* media query para pantallas pequeñas */ @media (max-width: 600px) { grid-template-columns: 100%; } }
 
  .pagination_section ul{
    display: flex;
  }