
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');

:root {
    /*Colors*/
    --primary-solid: #ff3333;
    --primary-900: rgba(255, 51, 51, 0.9);
    --primary-500: rgba(255, 51, 51, 0.5);
    --primary-300: rgba(255, 51, 51, 0.3);

    --secondary-solid: #1d84b5;
    --secondary-900: rgba(29, 133, 181, 0.9);
    --secondary-500: rgba(29, 133, 181, 0.5);
    --secondary-300: rgba(29, 133, 181, 0.3);
    
    --dark-solid: #1f1f1f;
    --dark-900: rgba(31, 31, 31, 0.9);
    --dark-500: rgba(31, 31, 31, 0.5);
    --dark-300: rgba(31, 31, 31, 0.3);

    --dark-bg-solid: #30343f;
    --light-bg-solid: #fafaff;
    --light-font-solid: #FFF;

    /*Typography*/
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    /*Font-size*/
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.2em;
    --font-xxsmall: 1em;

    /*Spacings*/
    --spacing-128: 12.8rem;
    --spacing-96: 9.6rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
    --spacing-6: 0.6rem;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--dark-solid);
}

a {
    text-decoration: none;
    font-size: 2em;
    color: inherit;
    font-family: inherit;
}

header, footer {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
}

ul, ol {
    list-style-type: none;
}

p {
    font-size: var(--font-medium);
}

img {
    width: 90%;
}

.nav-bar{
    display: flex;
    list-style: none;
    font-size: 1.2em;
    align-items: center;
}
.nav-bar a {
    color: var(--color-2);
    text-decoration: none;
    font-size: var(--font-medium);
    margin-left: 20px;
}
/* aca comienza formulario */
/*INICIO SHOP*/
.shop{
    display: grid;
    grid-template-columns: 10% 90% ;
    margin-bottom: 0;
    margin-top: 1%;
    margin-bottom: 5%;
}
/* FORMULARIO SHOP*/
.formulario{
    font-family: 'Inter', sans-serif;
    margin-left: 50%;
    margin-top: 10%;
}
.formulario select{
    font-family: 'Inter', sans-serif;
    width: 243px;
    height: 44.285px;
    flex-shrink: 0;
    padding: 8px;
}
.buscar{
    font-size: 20px;
    color: var(--color-4);
    font-family: 'Inter',sans-serif;
}
.buscar input{
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
    border-radius: 6px;
    border: 2px solid #30343F;
    padding: 10px;
    padding-right: 50%;
}
.order{
    display: inline-block;
    font-size: 20px;
    color: var(--color-4);
    font-family: 'Inter',sans-serif;
}
.order select{
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
    border-radius: 6px;
    border: 2px solid #30343F;
    padding: 8px;
}
.precio{
    margin-top: 20px;
    font-size: 20px;
    color: var(--color-4);
    font-family: 'Inter',sans-serif;
}
.p{
    font-size: 18px;
    margin-top: 20px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.p input{
    text-align: end;
    width: 35px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 6px;
    border: 2px solid #30343F;
    margin-bottom: 10px;
}
.filtro{
    font-size: 20px;
    font-weight: 500;
    color: var(--color-4);
    font-family: 'Inter',sans-serif;
    width: 1440px;
}
.checkbox {
    font-size: 18px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    width: 20px;
    height: 20px;
    color: var(--color-4);
    font-family: 'Inter',sans-serif;
    
}
.tipos{
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*FIN FORMULARIO SHOP*/
/*PRODUCTOS SHOP*/
.productos{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    width: 80%;
}
.filas{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
}
.produ{
    font-family: 'Inter', sans-serif;
}
.produ h4{
    font-size: small;
    color: var(--color-1);
}
.produ img{
    width: 70%;
}
.new{
    background-color: var(--color-3);
    color: var(--color-2);
    position: absolute;
    margin-left: 13%;
    padding: 10px;
    border-radius: 1px;
    font-size: var(--font-xsmall);
}
.info{
    padding: 20px;
    font-size: var(--font-medium);
}
.cuotas{
    color: var(--color-5);
    font-family: 'Raleway', sans-serif;
}
footer section{
    width: 100%;
    height: 343px;
    background-color: var(--color-1);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer section ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
    justify-content: center;
    list-style: none;
}

footer section ul li a{
    text-decoration: none;
    color: var(--color-2);
    font-size: 1.2em;
}

footer section p{
    align-self: self-end;
    margin-bottom: 20px;
    color: var(--color-2);
    font-size: 1.2em;
}
:root {
    --color-1: #30343F;
    --color-2: #FFFFFF;
    --color-3: #FF3333;
    --color-4: #111111;
    --color-5:#1D84B5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
}

nav {
    width: 100%;
    height: 144px;
    background-color: var(--color-1);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-bar{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 1.2em;
    align-items: center;
}

.nav-bar a {
    color: var(--color-2);
    text-decoration: none;
}


/*HERO*/

.hero {
    background-image: url(../img/funkos-banner.webp);
    background-size: cover;
    background-attachment: fixed;
    padding: var(--spacing-128);
    position: relative;
}

.hero::before {
    content: '';
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    backdrop-filter: blur(3px) brightness(.6);
    background-position: top;
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    align-items: start;
    position: relative;
    z-index: 2;
}

.hero__title {
    font-family: var(--alternative-font);
    font-size: var(--font-jumbo);
    color: var(--light-font-solid);
}

.hero__text {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
    font-size: var(--font-medium);
}

.hero__link {
    display: inherit;
    font-size: var(--font-medium);
    background-color: var(--light-bg-solid);
    padding: var(--spacing-12) var(--spacing-68);
    border-radius: 50px;
    font-weight: 500;
    transition: all .3s ease-in-out;
}

.hero__link:hover {
    background-color: var(--primary-900);
    color: var(--light-font-solid);
}

/*Fin Hero*/

/*Collections*/

.collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: var(--spacing-16) 0;
}

.collection:nth-child(2) .collection__cover {
    order: -1;
}

.collection__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    align-items: start;
}

.collection__title{
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    font-weight: 500;
}

.collection__text{
    font-family: var(--alternative-font);
    font-size: var(--font-large);
    font-weight: 300;
    border-bottom: 2px solid var(--primary-solid);
    padding-bottom: var(--spacing-20);
}

.collection__link {
    display: inline-block;
    font-size: var(--font-medium);
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-16) var(--spacing-36);
    border-radius: 50px;
    font-weight: 500;
    transition: background .3s ease-in-out;
}

.collection__link:hover {
    background-color: var(--primary-900);
}

/*SLIDER*/

.slider {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);  
    margin: var(--spacing-68) auto;  
}

.slider__title {
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    text-transform: uppercase;
}

.slider__items{
    display: flex;
    gap: var(--spacing-24);
}

.card-item__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding: var(--spacing-16);
}

.card-item__license {
    font-size: var(--font-small);
    font-weight: 500;
}

.card-item__name {
    font-size: var(--font-medium);
    font-weight: 700;
}

.card-item__price {
    font-size: var(--font-small);
}

.card-item__promo {
    font-size: var(--font-xsmall);
    color: var(--secondary-solid);
    font-weight: 700;
}

.card-item__cover {
    display: flex;
    position: relative;
}

.card-item__tag {
    font-size: var(--font-xsmall);
    text-transform: uppercase;
    color: var(--light-font-solid);
    background-color: var(--primary-solid);
    padding: var(--spacing-8) var(--spacing-12);
    position: absolute;
    right: 0;
}

.card-item__cover img {
    animation: fade .5s;
}

.card-item__img--back {
    display: none;
}

.card-item__cover:hover .card-item__img--back {
    display: block;
}

.card-item__cover:hover .card-item__img--front {
    display: none;
}

 /* pagination position styling */
 .pagination_section {

    position: relative;
    list-style:none;
	text-align: center;
    font-weight: 700;
   margin-bottom: 5%;
  }


 
  /* pagination styling */
  .pagination_section a {
    color:var (var(--dark-solid));
    padding: 3px 5px;
    text-decoration: none;
    border: 2px solid var(--dark-bg-solid);
  }
 
  /* pagination hover effect on non-active*/ 
  .pagination_section a:hover:not(.active) {
    color:var(--primary-500);
    background-color: var(--color-2);
    border: 2px solid var(--color-3);
  }
 
  
 
  .pagination_section content {
    margin: 50px;
    padding: 15px;
    width: 700px;
    height: 200px;
    border: 2px solid var(--color-3);
  }
  .pagination_section a{
    margin: 10px;
  }
 


















footer section{
    width: 100%;
    height: 343px;
    background-color: var(--color-1);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer section ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
    justify-content: center;
    list-style: none;
}

footer section ul li a{
    text-decoration: none;
    color: var(--color-2);
    font-size: 1.2em;
}

footer section p{
    align-self: self-end;
    margin-bottom: 20px;
    color: var(--color-2);
    font-size: 1.2em;
}

