:root {
    --color-1: #30343F;
    --color-2: #FFFFFF;
    --color-3: #FF3333;
    --color-4: #111111;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
}

nav {
    width: 100%;
    height: 144px;
    background-color: var(--color-1);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-bar{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 1.2em;
    align-items: center;
}

.nav-bar a {
    color: var(--color-2);
    text-decoration: none;
}

.banner{
    width: 100%;
    height: 338px;
    display: flex;
    position: relative;
    overflow: hidden;
    
}

.banner-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 105px;
    color: var(--color-2);
}

.banner-text h3{
    font-size: 2em;
    margin-bottom: 5px;
}

.banner-text a{
    width: 50%;
    margin-top: 25px;
    padding: 5px;
    text-align: center;
    background-color: var(--color-2);
    color: var(--color-1);
    font-weight: 700;
    border-radius: 50px;
    font-size: 1.2em;
    text-decoration: none;
}

.banner-img{
    width: 100%;
    position: absolute;
    z-index: -1;
}

.banner-img img{
    width: 100%;
    filter: brightness(0.5);
}

section.producto{
    width: 100%;
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.producto article{
    width: 100%;
}

.producto article h3{
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 5px;
}

.producto article p{
    margin-bottom: 15px;
}

.producto:nth-child(3n){
    flex-direction: row-reverse;
}