.collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: var(--spacing-16) 0;
}

.collection:nth-child(2) .collection__cover {
    order: -1;
}

.collection__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    align-items: start;
}

.collection__title{
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    font-weight: 500;
}

.collection__text{
    font-family: var(--alternative-font);
    font-size: var(--font-large);
    font-weight: 300;
    border-bottom: 2px solid var(--primary-solid);
    padding-bottom: var(--spacing-20);
}

.collection__link {
    display: inline-block;
    font-size: var(--font-medium);
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-16) var(--spacing-36);
    border-radius: 50px;
    font-weight: 500;
    transition: background .3s ease-in-out;
}

.collection__link:hover {
    background-color: var(--primary-900);
}

@media screen and (max-width: 1000px){
    .collection__title {
        font-size: var(--font-jumbo);
    }

    .collection__text {
        font-size: var(--font-medium);
    }

    .collection__link {
        font-size: var(--font-small);
    }
}

@media screen and (max-width: 740px){
    .collection__title {
        font-size: var(--font-large);
    }

    .collection__text {
        font-size: var(--font-small);
    }

    .collection__link {
        font-size: var(--font-xsmall);
        padding: var(--spacing-12) var(--spacing-28);
    }
}

@media screen and (max-width: 480px){
    .collection__content {
        gap: var(--spacing-16);
    }

    .collection__title {
        font-size: var(--font-medium);
    }

    .collection__text {
        font-size: var(--font-xsmall);
        padding-bottom: var(--spacing-12);
    }

    .collection__link {
        font-size: var(--font-xxsmall);
        padding: var(--spacing-8) var(--spacing-20);
    }
}
