.footer {
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-68);
}

.footer__copy {
    text-align: center;
    margin-top: var(--spacing-36);
}

@media screen and (max-width: 1000px){
    .footer {
        padding: var(--spacing-36);
    }
}

@media screen and (max-width: 740px){
    .footer {
        padding: var(--spacing-24);
    }
}

@media screen and (max-width: 480px){
    .footer {
        padding: var(--spacing-16);
    }
}