
.hero {
    background-image: url(../../img/funkos-banner.webp);
    background-size: cover;
    background-attachment: fixed;
    padding: var(--spacing-128);
    position: relative;
}

.hero::before {
    content: '';
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    backdrop-filter: blur(3px) brightness(.6);
    background-position: top;
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    align-items: start;
    position: relative;
    z-index: 2;
}

.hero__title {
    font-family: var(--alternative-font);
    font-size: var(--font-jumbo);
    color: var(--light-font-solid);
}

.hero__text {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
    font-size: var(--font-medium);
}

.hero__link {
    display: inherit;
    font-size: var(--font-medium);
    background-color: var(--light-bg-solid);
    padding: var(--spacing-12) var(--spacing-68);
    border-radius: 50px;
    font-weight: 500;
    transition: all .3s ease-in-out;
}

.hero__link:hover {
    background-color: var(--primary-900);
    color: var(--light-font-solid);
}

@media screen and (max-width: 1000px){
    .hero {
        padding: var(--spacing-96);
    }
}

@media screen and (max-width: 740px){
    .hero {
        padding: var(--spacing-68);
    }

    .hero__title {
        font-size: var(--font-large);
    }

    .hero__text {
        font-size: var(--font-small);
    }

    .hero__link {
        font-size: var(--font-small);
        padding: var(--spacing-8) var(--spacing-36);
    }
}